*{
    border: 1px solid grey;
}
html{
    border: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.group-buttons{
    min-width: 15vw;
    min-height: 50vh;
    margin-top: 20vh;
    height: 50vh;
    width: 15vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.group-buttons > *{
    
}

.display-total{
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;

   
}

.display{
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
   
}

.equal{
    grid-column: span 2;
}

